:root {
  --bg-gradient: linear-gradient(180deg, #e8fff5, #ffffff);
  --main-color: #009688;
  --accent-color: #a7f0d4;
  --text-color: #00332b;
}

body {
  background: var(--bg-gradient);
  color: var(--text-color);
}

.card {
  background: white;
  border: 2px solid var(--accent-color);
}
.card:hover {
  background: var(--main-color);
  color: white;
}
